section.home__hero {
    // align-items: start;
    @extend %full-bg;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: $navy;
    height: initial;

    padding-right: 0;
    padding-left: 0;

    // background-position-x: 30% !important;

    @include large {
        // align-items: center;
        // flex-direction: row;
        // justify-content: flex-end;

        display: grid;
        align-items: center;
        justify-content: center;

        padding-right: 32px;
        padding-left: 32px;
        height: 100vh;

        // background-image: url('../img/home-bg.png');
        background-image: url('../img/home-hero-bg-2.png');
        background-position-y: bottom;
        background-position-x: left;
        background-size: 70%;

        position: relative;
    }

    @include x-large {
        background-size: 60%;
    }

    .text {
        @include large {
            grid-column: 7/13;
        }
        position: relative;

        .sunicon {
            display: none;
    
            @include large {
                display: inline;     
                // grid-column: 12/13;
                position: absolute;
                right: 10%;
                top: 30%;
                z-index: -1;
    
                svg {
                    width: 289px;
                    height: 289px;
                }
    
                svg * {
                    fill: $pink;
                }
            }
        }
    }

    h1 {
        width: 165px;
        margin: 6rem auto 0;
        // color: $white;
        // text-align: center;
        // padding-bottom: 50px;

        @include text--large-heading;

        @include large {
            text-align: left;
            width: auto;
            // grid-column: 6/13;
            // font-size: 200px;
            padding-bottom: 0;
        }

        .shift {
            position: relative;
            left: 2rem;

            @include large {
                position: relative;
                left: 5rem;
            }
        }

        .star {
            display: inline;

            width: 10px;

            @include large {
                width: 55px;
                margin-left: -2rem;
            }
        }
    }

    .subtext {
        text-align: center;
        margin: 1rem 0 1.5rem;

        @include large {
            margin-top: 3rem;
        }

        .caption {
            font: {
                size: 10px;
                weight: normal;
            }
            margin-right: 6px;

            @include large {
                font: {
                    size: 30px;
                    weight: bold;
                }   
            }
        }

        .cursive {
            font: {
                size: 15px;
            }

            @include large {
                font: {
                    size: 45px;
                }   
            }
        }
    }

    .background {
        @include large {
            display: none;
        }

        img {
            width: 100%;
        }
    }

}

.home__intro {
    padding-top: 45px;
    padding-bottom: 70px;

    @include large {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    h1 {
        @include text--medium-heading;
        text-align: center;

        @include large {
            grid-column: 3/12;
            text-align: left;
        }
        
        .cursive {
            color: $pink;
            font-size: 30px;
            margin-top: 1rem;

            @include large {
                font-size: 80px;
                margin-top: 0;
            }
        }
    }

    .caption {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 24px;

        @include large {
            grid-column: 3/12;
            text-align: left;
        }
    }

    .button {
        @include large {
            grid-column: 3/12;
        }
    }
}

.home__about {
    padding-bottom: 50px;

    @include large {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    main {
        margin-bottom: 2rem;

        @include large {
            grid-column: 7/12;
            margin-bottom: 0;
        }

        figure {
            position: relative;
            width: 85%;
            margin: 0 auto;

            @include large {
                width: 100%;
            }

            .badge {
                position: absolute;
                top: 2%;
                right: -5%;
                width: 35%;

                @include large {
                    width: 35%;
                }
            }
        }
    }

    aside {
        @include large {
            grid-row: 1;
            grid-column: 2/6;
        }

        h1 {
            margin: 0 auto 24px;
            width: 150px;

            @include large {
                margin-bottom: 2rem;
                display: block;
                width: 100%;
            }

            .shift {
                position: relative;
                left: 24px;

                @include large {
                    left: 64px;
                }
            }
        }

        .caption {
            text-align: center;
            margin-bottom: 6px;

            @include large {
                text-align: left;
                margin-bottom: 0;
            }
        }
    }
}

.home__callout {
    background-image: url('../img/rainbow-right.svg');
    background-position-x: right;
    background-position-y: bottom;
    background-size: 55%;
    background-repeat: no-repeat;

    padding-top: 48px;
    padding-bottom: 48px;

    @include large {
        padding-top: 108px;
        padding-bottom: 108px;
    }

    main {
        color: $navy;

        @include large {
            grid-column: 2/11;
        }
    }

    h3 {
        @include text--heading;
        margin-bottom: 1rem;

        @include large {
            margin-bottom: 21px;
        }

        .shift {
            position: relative;
            left: 7.5%;
        }
    }

    p {
        width: 65%;
    }
}

.home__steps {
    padding-left: 0;
    padding-right: 0;
    grid-gap: 0;

    .module {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(6, 1fr);
        padding-left: 32px;
        padding-right: 32px;

        @include large {
            grid-column: span 6;
            padding-left: 0;
            padding-right: 0;
        }

        &:nth-of-type(1) {
            background: $teal;
            @include large {
                box-shadow: -400px 0 0 0px $teal;
            }
        }
        &:nth-of-type(2) {
            background: $peach;
            @include large {
                box-shadow: 400px 0 0 0px $peach;
            }
        }
        &:nth-of-type(3) {
            background: $off-white;
            @include large {
                box-shadow: -400px 0 0 0px $off-white;
            }
            h3 { color: $olive; }
        }
        &:nth-of-type(4) {
            background: $yellow;
            @include large {
                box-shadow: 400px 0 0 0px $yellow;                
            }
        }

        img {
            grid-column: 1/1;
            width: 40px;

            @include large {
                width: 100px;
                grid-column: 2/2;
            }
        }

        article {
            grid-column: 2/6;
            padding: 42px 0 32px;

            @include large {
                padding: 96px 0 138px;
                margin-left: 2rem;
                grid-column: 3/6;
            }

            h3 {
                @include text--small-heading;
                color: $white;
                margin-bottom: 10px;

                @include large {
                    margin-bottom: 40px;
                }
            }

            p {
                @include text--lead;
            }
        }
    }
}

.home__call {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include large {
        padding-top: 112px;
        padding-bottom: 160px;
    }

    article {
        @include large {
            grid-column: 2/12;
        }
    }

    h1 {
        @include text--medium-heading;

        @include large {
            display: inline;
        }
    }

    .circle-arrow {
        width: 54px;
        display: block;

        @include large {
            display: inline;
            margin-left: 1rem;
            margin-top: 1rem;
            width: 10vw;
        }
    }
}

section.home__quote {
    background: $green;

    @include large {
        padding-top: 180px;
    }

    p {
        color: $white;
    }
}

.home__podcast {
    padding-top: 64px;
    padding-bottom: 64px;

    background-repeat: no-repeat;

    background-image: url('../img/home-podcast-curve-mobile.svg');
        background-position-y: top;
        background-size: contain;
        position: relative;
        top: -1px;

    @include large {
    background-image: url('../img/home-podcast-curve.svg');
        

        padding-top: 270px;
        
    }

    aside {
        text-align: center;
        margin-bottom: 42px;
        @include large {
            grid-column: 2/6;
            text-align: left;
            margin-bottom: 0;
        }

        img {
            @include large {
                box-shadow: 10px 20px 20px rgba(#76817B, 0.4);
            }
        }
    }

    main {
        @include large {
            grid-column: 7/12;
        }

        .caption {
            margin-bottom: 6px;
            text-align: center;

            @include large {
                margin-bottom: 21px;
                text-align: left;
            }
        }

        h3 {
            @include text--lead-heading;
            color: $navy;

            margin-bottom: 17px;
            text-align: center;

            @include large {
                margin-bottom: 35px;
                text-align: left;
            }
        }

        p {
            margin-bottom: 28px;

            @include large {
                margin-bottom: 53px;
            }
        }

        
    }
}

// text rotating animation

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	// text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	// color: #00abe9;
	opacity: 0;
	// overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
}
// .slidingVertical span:nth-child(5){
// 	animation-delay: 10s;
// 	-ms-animation-delay: 10s;
// 	-webkit-animation-delay: 10s;
// }

/*topToBottom Animation*/
@keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; transform: translateY(-50px); }
	10% { opacity: 1; transform: translateY(0px); }
	25% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 0; transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}