<footer class="section footer">
    <aside>
        <h3>
            {{ site.footer_headline_first }} <br class="hide--mobile">
            <span class="shift">
                {{ site.footer_headline_second }}
            </span> <br class="hide--mobile">
            {{ site.footer_headline_third }}
        </h3>
        <div class="cursive">
            {{ site.footer_headline_cursive }}
        </div>
    </aside>

    <main>
        <p class="caption">{{ site.footer_caption_uppercase }}</p>
        <p class="caption">{{ site.footer_caption_regular }}</p>
        <br>
        <p>
            {{ site.footer_text }}
        </p>

        <a target="_blank" href="{{ site.footer_button_link }}" class="button">
            {{ site.footer_button_copy }}
        </a>
    </main>

    <nav>
        <ul>
            <li>Navigation</li>
            <li class="expanding"><a href="/home">Home</a></li>
            <li class="expanding"><a href="/lets-ignite">Let's Ignite</a></li>
            <li class="expanding"><a href="/books-speaking">Books & Speaking</a></li>
            <li class="expanding"><a href="/podcast">Podcast</a></li>
            <li class="expanding"><a href="/about">About Lisa</a></li>
            <li class="expanding"><a href="/contact">Contact</a></li>
        </ul>
        <ul>
            <li>Info</li>
            <li class="expanding"><a href="/privacy-policy">Privacy Policy</a></li>
            <li class="expanding"><a href="/terms-of-service">Terms of Service</a></li>
        </ul>
        <ul>
            <li>Find Me On</li>
            <li class="expanding"><a href="https://www.facebook.com/LisaMarieRunfola">Facebook</a></li>
            <li class="expanding"><a href="https://www.instagram.com/lisamarierunfola/">Instagram</a></li>
            <li class="expanding"><a href="https://twitter.com/authorLMrunfola">Twitter</a></li>
        </ul>
    </nav>

    <footer>
        {{ site.footer_copyright_copy }}
    </footer>
</footer>