<footer class="section footer">
    <aside>
        <h3>
            Are <br class="hide--mobile">
            <span class="shift">
                You
            </span> <br class="hide--mobile">
            Ready
        </h3>
        <div class="cursive">
            to flip the switch?
        </div>
    </aside>

    <main>
        <p class="caption">Be Big. Be Vibrant. Be Energized.</p>
        <p class="caption">Let’s Recharge And Ignite The Road Ahead.</p>
        <br>
        <p>
            Enter your email address below to download the FREE How Leaky Are Your Boundaries Checklist and discover if your ability to set boundaries is full of holes or stronger than ever.  Every month, you will also receive resources and tips to ignite your life today and tend to your Boundary Flame.
        </p>

        <a href="#" class="button">
            Get Your Free Checklist
        </a>
    </main>

    <nav>
        <ul>
            <li>Navigation</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/lets-ignite">Let's Ignite</a></li>
            <li><a href="#">Books & Speaking</a></li>
            <li><a href="/podcast">Podcast</a></li>
            <li><a href="/about">About Lisa</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <ul>
            <li>Info</li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
        </ul>
        <ul>
            <li>Find Me On</li>
            <li><a href="https://www.facebook.com/LisaMarieRunfola">Facebook</a></li>
            <li><a href="https://www.instagram.com/lisamarierunfola/">Instagram</a></li>
            <li><a href="https://twitter.com/authorLMrunfola">Twitter</a></li>
        </ul>
    </nav>

    <footer>
        © 2021 Lisa Marie Runfola, LLC | All Rights Reserved 
    </footer>
</footer>