body {
	font: {
		size: 100%;
	}
	@include text--body;
	background: $cream;
}

.section {
	padding-left: 36px;
	padding-right: 36px;

	display: grid;
	grid-template-columns: repeat(12, 1fr);

	@include large {
		// padding-left: 278px;
		// padding-right: 278px;

		// max-width: 1400px;
		grid-gap: 1rem;
		
		// padding-left: 7.5%;
		// padding-right: 7.5%;
	}

	> * {
		grid-column: span 12;
	}
	

}



header[role="banner"] {
	// display: flex;
	// justify-content: space-between;


	align-items: center;
	position: fixed;
	// position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 1000;

	// max-width: 1400px;

	color: $white;

	padding-top: 18px;
	padding-bottom: 18px;
	padding-top: 0;
	padding-bottom: 0;

	@include large {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	&.dark-header {
		color: $navy;

		svg * { fill: $navy !important; }
	}

	&.scrolled {
		background: white;
		color: $teal;

		svg * { fill: $teal !important; }
	}

	.logo {
		display: flex;
		align-items: center;
		grid-column: 1/9;

		@include large {
			grid-column: 2/6;
		}

		// img {
		// 	width: 58px;
		// 	margin-right: 12px;
		// }

		svg {
			margin-right: 12px;
			width: 32px;

			@include large {
				width: 57px;
			}

			* {
				fill: $white;
			}
		}

		span.name {
			font-family: $font--heading;

			@include large {
				font-size: 2rem;
			}
		}
	}

	nav {
		grid-column: 9/13;
		text-align: right;

		@include large {
			text-align: left;
			grid-column: 6/13;
		}

		a {
			@include large {
				margin-right: 1.75rem;
			}
			// @include large {
			// 	margin-right: 2.5rem;
			// }
			@include xx-large {
				margin-right: 64px;
			}
		}
	}

	.nav-toggle {
		margin-right: 0;
	}
}

section.hero {
	height: 100vh;
	@extend %full-bg;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	text-transform: uppercase;
	font-weight: bold;

	width: 100%;
	height: 61px;
	border: 1px solid $navy;
	border-radius: 150px;
	color: $navy;
	
	@include large {
		width: 400px;
		height: 80px;
	}
}