<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>

        {% include header.html %}
       
        {{ content }}

        {% include footer.html %}
        {% include analytics.html %}
        
        <!-- Scripts -->

        <script src="{{site.baseurl}}/assets/js/production.min.js"></script>
        <script src="//localhost:35729/livereload.js"></script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script>
            $('.main-carousel').flickity({
                // options
                cellAlign: 'left',
                contain: true,
                prevNextButtons: false
            });
        </script>
    
    </body>


</html>
